<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

                <title>Daily Error Summary {{ date_string }}</title>

		<link href="entireframework.min.css" rel="stylesheet" type="text/css">
		<link href="custom.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
                            <a class="pagename current" href="#">Daily Error Summary {{ date_string }}</a>
                            <button class="btn-toggle btn btn-sm">Light/Dark</button>
			</div>
		</nav>
		<div class="container">
                    {% set list_count = namespace(value=0) %}
                    {% for run in summary %}
                    <h2>Run {{ run["run_name"] }} </h2>

                        {% for message_key, message_labels in run["messages"].items() %}
                        <p>{{ message_key }}</p>
                        <p>
                        <ul>
                            {% for label in message_labels %}
                            <li class="{{ ('hidden hidden-%d') % list_count.value if loop.index > 10}}">{{ label }}

                            {% if(loop.index == 10) %}
                            <li><a href="javascript:;" onclick="javascript:unhide('{{'hidden-%d' % list_count.value}}', this)">And {{ message_labels|count - 10 }} more dataIds</a>
                            {% endif %}


                            {% endfor %}
                        </ul>
                        </p>
                        {% set list_count.value = list_count.value + 1 %}
                        {% endfor %}
                    {% endfor %}
		</div>
<script>

const btn = document.querySelector(".btn-toggle");
const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

btn.addEventListener("click", function () {
  if (prefersDarkScheme.matches) {
    document.body.classList.toggle("light-theme");
  } else {
    document.body.classList.toggle("dark-theme");
  }
});

function unhide(classname, clickedElement) {
    var hiddenElements = document.getElementsByClassName(classname);
    for(var i = 0; i < hiddenElements.length; i++)
    {
            hiddenElements.item(i).classList.remove('hidden');
    }
    clickedElement.closest('li').classList.add('hidden');
    return false;

}


</script>
	</body>
</html>
